<html>
    <body>
        {% for messageType, messages in messagesByType %}
            {{ ('batch_jobs.mail_notification.types.' ~ messageType) | trans }}
            <ul>
                {% for message in messages %}
                    {% if messageType == 'default' %}
                        <li>{{ message.identifier }} : {{ message.content|raw }}</li>
                    {% else %}
                        <li>{{ message.content|raw }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </body>
</html>
